# 将Series转换成DataFrame

In [1]:
import pandas as pd

In [2]:
grades = {"语文":80,"数学":90,"英语":95,"计算机":100}

data = pd.Series(data=grades)

从这里开始完成题目

In [3]:
df = pd.DataFrame(data, columns=['grade'])

In [4]:
df

     grade
语文      80
数学      90
英语      95
计算机    100