# 用reset index将Series转换成df

In [1]:
import pandas as pd

In [2]:
grades = {"语文":80,"数学":90,"英语":95,"计算机":100}

data = pd.Series(data=grades)

---------

In [3]:
df = data.reset_index()
df.columns = ["第一行","第二行"]

In [4]:
df

   第一行  第二行
0   语文   80
1   数学   90
2   英语   95
3  计算机  100