# 使用字典创建DataFrame

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    {
        "姓名":["张三","李四","王五","赵六"], 
        "性别":["男","女","女","男"],
        "年龄":[15,14,16,17]   # 注意 这里的值要与上面的值一一对齐
    }
)

In [3]:
df

   姓名 性别  年龄
0  张三  男  15
1  李四  女  14
2  王五  女  16
3  赵六  男  17