# 设置DataFrame的索引列

In [10]:
import pandas as pd

In [11]:
data = {
        "姓名":["张三","李四","王五","赵六"], 
        "性别":["男","女","女","男"],
        "年龄":[15,14,16,17]   # 注意 这里的值要与上面的值一一对齐
}

In [12]:
df = pd.DataFrame(data)

---------

In [13]:
df.set_index("姓名", inplace=True)

In [14]:
df

   性别  年龄
姓名
张三  男  15
李四  女  14
王五  女  16
赵六  男  17